body {
  display: flex;
  flex-direction: column;
  height: 500;
}

#log-area {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  width: 100%;
  height: 500;
}

.add-url {
  width: 100%;
}

table button {
  width: 100%;
}
